/* Main section highlight */

.highlight {
  display: flex;
  margin: 0 170px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .highlight {
    display: flex;
    margin: 50px 0 0;
    flex-direction: column;
    justify-content: space-between;
  }
}

/* 1st section content */
.section-content,
.section-content-hero {
  width: 50%;
  height: 650px;
  display: flex;
  justify-content: space-around;
}

.article-content h1 {
  margin: 109px 0 30px;
}

.article-content p {
  width: 85%;
  line-height: 150%;
  margin: 0 0 40px;
}

.article-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.article-cta button,
.article-cta button>span,
.article-cta a {
  padding: 15px;
}

.article-cta>form>span {
  padding: 0 40px;
}

@media (min-width: 768px) and (max-width: 1300px) {

  .section-content,
  .section-content-hero {
    width: 100%;
    align-items: center;
    display: flex;
    align-items: flex-start;
  }

  .section-content-hero,
  .section-content {
    height: 400px;
    display: flex;
    align-items: flex-start;
  }

  .article-content h1 {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {

  .section-content,
  .section-content-hero {
    width: 100%;
    height: 625px;
    align-items: center;
  }

  .article-content {
    margin: 0 10px;
  }
}

/* 2st section content */
.top-card {
  position: relative;
  left: -65px;
  width: 190px;
  height: 216px;
  border-radius: 25px;
  box-shadow: 0px 0px 45px 20px rgb(0 0 0 / 10%);
}

.bottom-card {
  position: relative;
  bottom: -415px;
  width: 190px;
  right: -40px;
  height: 216px;
  border-radius: 25px;
  box-shadow: 0px 0px 45px 20px rgb(0 0 0 / 10%);
}

.hero-card {
  transform: matrix(1, -0.02, -0.02, 1, 0, 0);
  position: absolute;
  z-index: -1;
  height: 637px;
}

@media screen and (max-width: 768px) {
  .top-card {
    position: relative;
    top: -90px;
    left: -20px;
    height: 135px;
    width: 135px;
    z-index: 0;
  }

  .bottom-card {
    position: relative;
    bottom: -165px;
    right: -10px;
    height: 135px;
    width: 135px;
    z-index: 0;
  }

  .hero-card {
    position: absolute;
    z-index: -1;
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .top-card {
    position: relative;
    height: 135px;
    width: 135px;
    z-index: 0;
  }

  .bottom-card {
    position: relative;
    height: 135px;
    width: 135px;
    z-index: 0;
  }

  .hero-card {
    position: absolute;
    z-index: -1;
    height: 525px;
  }
}

/* Section Brands*/
.brands {
  margin: 130px 170px 200px;
  height: 96px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.brands img {
  filter: grayscale(1) invert(0.6);
}

.brands img:hover {
  filter: initial;
}

@media (min-width: 768px) and (max-width: 1300px) {
  .brands {
    margin: 180px 10px 30px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 768px) {
  .brands {
    margin: 0 10px;
    justify-content: space-around;
  }
}

/*Project & Service Section*/
.project-section {
  margin: 0 170px;
}

.project-section h3 {
  margin-bottom: 70px;
}

.project-article {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-block {
  background-color: white;
  margin-bottom: 20px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  box-shadow: 0px 0px 45px 20px rgb(0 0 0 / 10%);
}

.img-project {
  width: 340px;
  height: 240px;
}

figure {
  overflow: hidden;
}

#zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}


.img-service {
  width: 80px;
  height: 80px;
  background-color: #A2D6F9;
  border-radius: 50%;
  padding: 20px;
  margin: 30px 30px 0;
}

.project-block>.body-intro-medium {
  padding: 10px 30px;
}

.project-block>.headline-text-regular {
  padding: 0 30px 54px;
  min-height: 115px;
}

.project-link {
  padding: 10px 30px;
  cursor: pointer;
  color: #072ac8;
}

.project-link:hover {
  color: #ffc600;
}

@media screen and (max-width: 768px) {
  .project-section h3 {
    margin: 50px 10px;
  }

  .project-block {
    margin: 10px;
  }

  .project-section {
    margin: 0;
  }

  .project-article {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}

/*Testimonial section*/

.people-say {
  margin: 200px 60px;
  background-color: #292e47;
}

.wrapper {
  padding: 30px;
}

.testimony {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text-quote {
  justify-content: center;
}

.testimony h3,
.testimony>div>div>p {
  color: white;
}

.testimony>div>div>p {
  padding: 0 5px;
}

.text-quote p {
  color: #ffc600;
}

.faces {
  width: 150px;
  height: 150px;
}

.face-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .faces {
    display: none;
  }

  .wrapper {
    padding: 20px;
    align-items: center;
  }

  .people-say {
    margin: 30px 0;
  }
}

/*Newsletter*/

.newsletter {
  margin: 170px 60px;
  height: 500px;
  display: flex;
  background-color: #ffc600;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.newletter-content {
  padding: 135px 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newletter-content p {
  margin-top: 20px;
}

.nl-form {
  margin-top: 50px;
}

input#email {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25 25H5C3.625 25 2.5 23.875 2.5 22.5V7.5C2.5 6.125 3.625 5 5 5H25C26.375 5 27.5 6.125 27.5 7.5V22.5C27.5 23.875 26.375 25 25 25Z' stroke='%23292E47' stroke-width='1.25' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25 5H5C3.625 5 2.5 6.125 2.5 7.5L15 16.25L27.5 7.5C27.5 6.125 26.375 5 25 5Z' stroke='%23292E47' stroke-width='1.25' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
  width: 383px;
  height: 90px;
  border: none;
  background-size: 30px;
  background-repeat: no-repeat;
  text-indent: 70px;
  background-position-x: 30px;
  background-position-y: center;
}

input#email:focus {
  background-image: none;
  text-indent: 0px;
}

.nl-form>button {
  width: 198px;
  height: 90px;
}

.nl-form>button:hover {
  border: 1px solid #072ac8;
}

@media screen and (max-width: 768px) {
  .newletter-content {
    padding: 10px 10px;
  }

  .newsletter {
    margin: 50px 0;
  }

  .newletter-content h3 {
    text-align: center;
  }

  input#email {
    width: 100%;
    height: 90px;
  }

  .nl-form {
    display: flex;
  }
}