/* Defaults */

* {
    margin: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
    color: #514d67;
    font-family: "Roboto";
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background-color: #f4f6fc;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  header-component {
    width: 100%;
  }
  
  /* texts and fonts */
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
    font-weight: 700;
  }
  
  h1 {
    font-size: 60px;
  }
  
  h2 {
    font-size: 50px;
  }
  
  h3 {
    font-size: 40px;
  }
  
  h4,
  .body-intro-medium {
    font-size: 24px;
  }
  
  .body-intro-medium,
  .headline-text-medium {
    font-weight: 500;
  }
  
  .body-intro-regular,
  .headline-text-regular,
  .caption-text-regular,
  .caption-text-alternative {
    font-weight: 400;
  }
  
  .body-intro-regular {
    font-size: 20px;
  }
  
  .headline-text-regular,
  .headline-text-medium {
    font-size: 17px;
  }
  
  .caption-text-regular {
    font-size: 15px;
  }
  
  .caption-text-alternative {
    font-size: 13px;
  }
  
  /* buttons defaults transition */
  
  .btn {
    background: #072ac8;
    border: none;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn > a {
    position: relative;
    z-index: 1;
    color: #ecf7ff;
  }
  
  .btn:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #ffc600;
    position: absolute;
    transition: all 0.7s ease;
  }
  
  .btn-cta:before {
    top: 0;
    left: -100%;
  }
  
  .btn-cta:hover:before {
    left: 0;
  }
  
  .btn > a:hover {
    color: #072ac8;
  }