* {
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  text-decoration: none;
  color: #514d67;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f4f6fc;
  font-family: "Roboto";
}

main {
  flex: 1 0 auto;
}

header-component {
  width: 100%;
}

/* texts and fonts */
h1,
h2,
h3,
h4 {
  font-weight: bold;
  font-weight: 700;
}
h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4,
.body-intro-medium {
  font-size: 24px;
}
.body-intro-medium,
.headline-text-medium {
  font-weight: 500;
}
.body-intro-regular,
.headline-text-regular,
.caption-text-regular,
.caption-text-alternative {
  font-weight: 400;
}

.body-intro-regular {
  font-size: 20px;
}

.headline-text-regular,
.headline-text-medium {
  font-size: 17px;
}

.caption-text-regular {
  font-size: 15px;
}
.caption-text-alternative {
  font-size: 13px;
}

/* buttons transition */

.btn {
  background: #072ac8;
  position: relative;
  overflow: hidden;
}
.btn > a {
  position: relative;
  z-index: 1;
}
.btn:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #ffc600;
  position: absolute;
  transition: all 0.7s ease;
}
.btn-cta:before {
  top: 0;
  left: -210px;
}
.btn-cta:hover:before {
  left: 0;
}
.btn:hover a {
  color: #072ac8;
}

/* Main section highlight */
.highlight {
  display: flex;
  margin: 0 170px;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  .highlight {
    display: flex;
    margin: 0 10px;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* 1st section content */
.section-content {
  width: 50%;
  height: 650px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 1400px) {
  .section-content {
    width: 100%;
  }
}
.article-content h1 {
  margin: 109px 0 30px;
}

.article-content p {
  width: 85%;
  line-height: 150%;
  margin: 0 0 40px;
}

.article-cta {
  display: flex;
  align-items: center;
  justify-content: left;
}
.article-cta button,
.article-cta button > a {
  border: none;
  color: #f4f6fc;
  padding: 15px;
  cursor: pointer;
}
.article-cta > div > a {
  padding: 0 40px;
  cursor: pointer;
}
/* 2st section content */
.top-card {
  position: relative;
  left: -80px;
  height: 375px;
}
.bottom-card {
  position: relative;
  bottom: -440px;
  right: -20px;
  height: 315px;
}
.hero-card {
  position: absolute;
  z-index: -1;
  height: 637px;
}
@media screen and (max-width: 768px) {
  .top-card {
    position: relative;
    left: -20px;
    height: 240px;
  }
  .bottom-card {
    position: relative;
    bottom: -260px;
    right: 0;
    height: 215px;
  }
  .hero-card {
    position: absolute;
    z-index: -1;
    height: 400px;
  }
}
